{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 10
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:jest-dom/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/no-unescaped-entities": "off",
    "no-alert": "off",
    "react/require-default-props": "off",
    "react/sort-prop-types": "error",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "jest/no-identical-title": "off"
  },
  "overrides": [
    {
      "files": ["packages/**/*.ts", "packages/**/*.tsx"],
      "parserOptions": {
        "project": ["tsconfig.json"]
      }
    }
  ]
}
